h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.mainbox {
    width: 400px;
    height: 350px;
    margin: auto;
}

.secondbox, .secondbox2 {
    width: 400px;
    height: 220px;
    display: flex;
}

.box1, .box2, .box3, .box4 {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: solid black 6px;
    margin: 8px;
}

.box1 { background-color: palevioletred; }
.box2 { background-color: rgb(10, 186, 183); }
.box3 { background-color: rgb(223, 173, 10); }
.box4 { background-color: rgb(12, 113, 236); }

.flass {
    background-color: white !important;
    transition: background-color 0.25s ease;
}